<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
       <ul>
           <li>Drupal : https://www.drupal.org/u/parvind87 </li>
           <li>LinkedIn : https://www.linkedin.com/in/parvind-sharma </li>
       </ul>
    </div>
    
    {{>footer}}
</body>

</html>